<h1>Your receipt details</h1>
<strong>Hi <%= @user.first_name %>,<strong>
<p>
  You have successfully transfered an amount of <%= @amount %> to shopify.
</p>
<p>
  Your shipping address: <%= @address %>
</p>
<h1>Order Details</h1>
<% @products.each do |product| %>
  <p>Title: <%= product.title %><p>
  <p>Price: <%= product.price %><p>
<% end %>
<p>Thanks for purchasing and have a great day!</p>
