<h1>
  Welcome <%= display_name(current_user) %>
  <small><%= current_user.email %></small>
</h1>

<%= image_tag fetch_image(current_user.attachment) %>

<div class="row">
  <div class="col-md-6">
    <h1>Your Products</h1>
    <%= paginate @products %>

      <% @products.each do |product| %>
        <div class="row">
          <div class="item-container">
            <%= render product %>
          </div>
        </div>
      <% end %>
  </div>

  <div class="col-md-6">
    <h1>Your Reviews Activity</h1>
    <%= paginate @reviews %>

    <% @reviews.each do |review| %>
      <div class="row">
        <div class="item-container">
          <div class="col-md-4">
            <%= link_to product_path(review.product) do %>
              <%= render review %>
            <% end%>
          </div>

          <div class="col-md-8">
            <div class="product-links">
              <%= link_to 'Go to product', product_path(review.product), class: "btn btn-success btn-sm" %>
              <%= link_to edit_product_review_path(review.product, review) do %>
                <%= image_tag "edit.jpg", alt: "Edit" %>
              <% end %>
              <%= link_to product_review_path(review.product, review), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <%= image_tag "cross.png", alt: "Delete" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
