<div class="row">
  <h1><%= display_name(@user) %></h1>
  <%= image_tag fetch_image(@user.attachment) %>
  <div><%= @user.email %></div>
</div>

<div class="row">
  <%= paginate @products %>

  <% @products.each do |product| %>
    <h1><%= link_to product.title, product %></h1>
    <em><%= short_description(product) %></em>
    <div><%= link_to 'Goto Product', product, class: "btn btn-success btn-sm" %></div>
  <% end %>
</div>
