<div class= "login-form">
  <%= nested_form_for(@product) do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control", placeholder: "Samsung galaxy note 2" %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, rows: "3", class:"form-control", placeholder: "Samsung Galaxy Note II smartphone with 5.50-inch 720x1280 display powered by 1.6GHz processor alongside 2GB RAM and 8-megapixel rear camera."%>
    </div>

    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, class:"form-control", placeholder: "305.5" %>
    </div>

    <div class="form-group">
      <%= f.fields_for :attachments do |photo_form| %>
        <%= photo_form.file_field :photo if photo_form.object.photo.blank? %>
        <%= image_tag fetch_image(photo_form.object) if photo_form.object.photo.url(:small) %>
        <%= photo_form.link_to_remove "Remove this attachment" %>
      <% end %>
      <p>
        <%= f.link_to_add "Add an attachment", :attachments %>
      </p>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-success"%>
    </div>
  <% end %>
</div>
