<div class="col-md-4">
  <%= link_to product do %>
    <%= image_tag fetch_image(product.attachments.first) %>
  <% end %>
</div>
<div class="col-md-8">
  <div><%= product.title %></div>
  <div><%= product.price %></div>
  <div class="product-links">
    <%= link_to 'Detail', product, class:"btn btn-success btn-sm" %>
    <%= link_to edit_product_path(product) do %>
      <%= image_tag "edit.jpg", alt: "Edit" %>
    <% end %>
    <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= image_tag "cross.png", alt: "Delete" %>
    <% end %>
  </div>
</div>
