<% if @products.present? %>
  <h1>Browse Products</h1>
  <%= paginate @products %>

  <div class="row">

    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class ="image-container">
            <%= image_tag fetch_image(product.attachments.first) %>
          </div>
          <div class="caption">
            <div class="row">
              <div class="col-md-9">
                <h2><%= product.title %></h2>
              </div>
              <div class="col-md-3 product-price">
                <h3><%= append_currency(product.price.to_i) %></h3>
              </div>
            </div>
            <h4><%= truncate_string(product.body, 30) %></h4>
            <div>
              <%= link_to 'Details', product, class: "btn btn-primary" %>
              <%= link_to 'Add to cart', cart_add_path, id: "add-#{product.id}", data: { remote: true, target: '#message', toggle: 'modal', params: { product_id: product.id }.to_param }, class: 'btn btn-success' unless in_cart?(product) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <%= paginate @products %>
<% else %>
  <h2>Sorry No result found :( </h2>
  <%= link_to 'Browse Products', products_path, class: 'btn btn-success' %>
<% end %>
