<p id="notice"><%= notice %></p>

<h1>Product Owner</h1>
<%= @product.user.email %>
<%= link_to 'Show Profile', user_path(@product.user) %>
<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Body:</b>
  <%= @product.body %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<ul>
  <% @product.attachments.each do |attachment| %>
    <li>
      <%= image_tag(attachment.photo.url(:medium)) %>
    </li>
  <% end %>
</ul>

<ul id ="show-reviews">
  <% @reviews.each do |review| %>
    <%= render 'reviews/review', review: review %>
    <% if owner?(@product.user_id) %>
      <%= link_to 'Destroy', product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</ul>

<% unless owner?(@product.user_id) %>
  <%= render 'reviews/ajax_form' %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path(@product) %>
