<div class="row">
  <div class="col-md-6">
    <h1><%= @product.title %></h1>
  </div>
  <div class="col-md-2 top">
    <%= link_to 'Add to cart', cart_add_path, id: "add-#{@product.id}", data: { remote: true, params: { product_id: @product.id }.to_param }, class: 'btn btn-warning btn-sm' unless in_cart?(@product) %>
  </div>
</div>

<div class="row">
  <% if @product.attachments.present? %>
    <% @product.attachments.each do |attachment| %>
      <div class="col-md-4 thumbnail">
        <%= image_tag fetch_image(attachment) %>
      </div>
    <% end %>
  <% else %>
    <%= image_tag fetch_image(@product.attachments.first) %>
  <% end %>
</div>

<div>
  <h3>Price:<%= append_currency(@product.price) %></h3>
</div>


<div>
  <h3>Description:</h3>
  <%= @product.body %>
</div>

<b>More products from this seller</b>
<%= link_to display_name(@product.user), user_path(@product.user) %>

<h1>Reviews</h1>
<ul id ="show-reviews">
  <% @reviews.each do |review| %>
    <strong><%= link_to display_name(review.user), user_path(review.user) %> says</strong>
    <%= render 'reviews/full_review', review: review %>
    <% if owner?(@product.user_id) %>
      <div>
        <%= link_to product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure to delete this review?' } do %>
          <%= image_tag "cross.png", alt: "Delete" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</ul>

<%= link_to 'See All Reviews', product_reviews_path(@product) %>

<% if owner?(@product.user_id) %>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %>
<% else %>
  <%= render 'reviews/ajax_form' if current_user.present? %>
<% end %>
<%= link_to 'Back', products_path, class: "btn btn-default" %>
