<h1><%= @product.title %></h1>
<b>Product Owner</b>
<%= link_to display_name(@product.user), user_path(@product.user) %>

<div>
  <b>Title:</b>
  <%= @product.title %>
</div>

<div>
  <b>Description:</b>
  <%= @product.body %>
</div>

<div>
  <b>Price:</b>
  <%= @product.price %>
</div>


  <% @product.attachments.each do |attachment| %>
    <div>
      <%= image_tag(attachment.photo.url(:medium)) %>
    </div>
  <% end %>


<ul id ="show-reviews">
  <% @reviews.each do |review| %>
    <strong><%= link_to display_name(review.user), user_path(review.user) %></strong>
    <%= render 'reviews/review', review: review %>
    <% if owner?(@product.user_id) %>
      <%= link_to 'Destroy', product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</ul>

<% unless owner?(@product.user_id) %>
  <%= render 'reviews/ajax_form' %>
<% else %>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-warning" %>
<% end %>
<%= link_to 'Back', products_path %>
