<h1><%= @product.title %></h1>

<table class="table">
  <tr>
    <th>Reviews</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= link_to review.comment, product_path(@product) %></td>
      <td>
        <% if owner?(review.user_id) %>
          <%= link_to 'Edit', edit_product_review_path(@product, review), class:"btn btn-warning btn-xs" %>
        <% end %>
      </td>
      <td>
        <% if owner?(review.user_id) || owner?(@product.user_id) %>
          <%= link_to 'Destroy', product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-xs" %>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>

<%= link_to 'New Review', new_product_review_path(@product) %>
