<h1><%= @product.title %></h1>

<table>
  <tr>
    <th>Reviews</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= link_to review.comment, product_path(@product) %></td>
      <% if owner?(review.user_id) %>
        <td><%= link_to 'Edit', edit_product_review_path(@product, review) %></td>
        <td><%= link_to 'Destroy', product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>

</table>

<%= link_to 'New Review', new_product_review_path(@product) %>
