<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demo</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="container demo-container">

    <%= render 'layouts/header' %>

    <% if notice %>
      <div class="alert alert-info" role="alert"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-warning" role="alert"><%= alert %></div>
    <% end %>

    <%= yield %>

  </body>
</html>
